body {
    background-image: url('/static/img/bg01.jpg');
    background-attachment: fixed;
    background-color: aqua;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

a {
    color: steelblue;
    text-decoration: none;
}

a:hover {
    color:lightpink
}

header a {
    text-decoration: none;
}

