<!DOCTYPE html>
<html lang="pt-bt">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ sitename }}</title>
</head>

<body>

    <nav>
        <a href="{{ url_for('index') }}">Início</a> |
        <a href="{{ url_for('about') }}">Sobre</a>
    </nav>

    <h2>Sobre...</h2>

    <h4>Sobre o site</h4>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magnam quia atque facere adipisci suscipit maxime
        doloremque, eum esse, possimus libero quaerat vero! Aut animi nemo id obcaecati deleniti blanditiis ducimus.</p>

    <h4>Sobre o autor</h4>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam architecto vero quae dolores vel commodi, impedit
        voluptas numquam ea nisi, nulla ipsam ut amet repellendus ab mollitia. Natus, veritatis dolores.</p>

    <h4>Políticas de privacidade</h4>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laborum odio ratione nihil eos. Beatae facilis
        inventore earum repellat laboriosam, recusandae dignissimos vel explicabo quae ipsum quam ullam, provident
        dolorem sunt?</p>

</body>

</html>